<mat-card class="c-missions-listing" tabindex="0">
    <mat-card-title class="c-missions-listing__title">
        <h4 class="c-missions-listing__title--text">{{Missions.name}}</h4>
    </mat-card-title>
    <mat-card-content class="c-missions-listing__content">
        <p class="c-missions-listing__content--text">{{Missions.description}}</p>
    </mat-card-content>
    <mat-card-actions align="end" class="c-missions-listing__actions">
        <button mat-button class="c-missions-listing__actions--button">Accept</button>
    </mat-card-actions>
</mat-card>