<mat-card class="c-raids-listing" tabindex="0">
    <mat-card-title class="c-raids-listing__title">
        <h4 class="c-raids-listing__title--text">{{Raid.name}}</h4>
    </mat-card-title>
    <mat-card-content class="c-raids-listing__content">
        <p class="c-raids-listing__content--text">{{Raid.description}}</p>
        <p class="c-raids-listing__content--players">Total Players</p>
        <p class="c-raids-listing__content--time">{{Raid.time}}</p>
        <p class="c-raids-listing__content--lider">Lider name</p>
    </mat-card-content>
    <mat-card-actions align="end" class="c-raids-listing__actions">
        <button mat-button class="c-raids-listing__actions--button" (click)="joinRaid()">Join</button>
    </mat-card-actions>
</mat-card>