<!--
  This is the main component of the Angular application.
  It serves as the entry point for the application and contains the router outlet.
  -->
<!--
  The <router-outlet> directive is a placeholder that Angular uses to load the components for the routes defined in the application.
  When a user navigates to a different route, Angular replaces the content of the <router-outlet> with the component associated with that route.
  -->
<!--
  The <router-outlet> directive is a built-in Angular directive that acts as a placeholder for the routed components.
  It is used in the main component template to load the components for the routes defined in the application.
  -->
<router-outlet name="header"></router-outlet>
<app-home-header></app-home-header>
<app-separator></app-separator>
<main>
  <!--<app-home></app-home>
  <app-special-buttons></app-special-buttons>-->
  <app-missions-listing></app-missions-listing>
  <!--<app-raids-listing></app-raids-listing>
  <app-profile></app-profile>
  <app-battle></app-battle>-->
  <router-outlet></router-outlet>
</main>
<app-separator></app-separator>
<app-footer></app-footer>