<mat-card class="c-jobs-listing" tabindex="0">
    <mat-card-title class="c-jobs-listing__title">
        <h4 class="c-jobs-listing__title--text">{{job.Name}}</h4>
    </mat-card-title>
    <div class="c-jobs-listing__images">
        <P>A</P>
        <img mat-card-image class="c-jobs-listing__images--a"
            src="../../../assets/images/classes/{{job.aspectIds[0]}}.png" alt="{{job.Name}} image">
        <P>B</P>
        <img mat-card-image class="c-jobs-listing__images--b"
            src="../../../assets/images/classes/{{job.aspectIds[1]}}.png" alt="{{job.Name}} image">
    </div>
    <mat-card-content class="c-jobs-listing__content">
        <p class="c-jobs-listing__content--text">{{job.Description}}</p>
    </mat-card-content>
    <mat-card-actions align="end" class="c-jobs-listing__actions">
        <button mat-button class="c-jobs-listing__actions--button">A</button>
        <button mat-button class="c-jobs-listing__actions--button">B</button>
    </mat-card-actions>
</mat-card>