<div class="p-manual">
  <h1>Objetivo (luego toca ponerlo en inglés, quin pal)</h1>
  <p>
    El objetivo del juego consiste en aceptar misiones y derrotar al enemigo que hay en ellas.
  </p>
  <h1>Cómo jugar</h1>
  <p>
    En la pantalla de misiones eliges la misión que quieras aceptar, una vez que aceptas una misión automaticamente se
    te
    dirige a la pantalla de batalla donde de enfrentas al enemigo de dicha misión.
  </p>
  <p>
    Para atacar debes pulsar sobre el botón de ataque y debes esperar a que terminen las animaciones para poder volver a
    atacar.
  </p>
  <p>
    Cuando la animación de tu ataque haya terminado será el turno del enemigo, quien te atacará.
  </p>
  <h1>Condición de victoria</h1>
  <p>
    Si reduces la vida del enemigo a 0 ganas la
    batalla.
  </p>
  <h1>Condición de derrota</h1>
  <p>
    Si tu vida es reducida a 0 pierdes la
    batalla.
  </p>
  <h1>Al terminar la batalla</h1>
  <p>
    Al terminar la batalla se le dirigirá a la pantalla de misiones.
  </p>
  <h1>Otras caracterísiticas</h1>
  <p>
    Si cierra el juego en mitad de una batalla, al volver a acceder, al seleccionar Misiones se le redirigirá a la
    batalla.
  </p>
  <p>
    Al crear la cuenta deberá elegir el trabajo y el aspecto que desea para dichi trabajo, una vez seleccionado o se
    puede
    cambiar.
  </p>
  <p>
    Desde el menú de perfil puede cerrar la sesión, y también puede borrar su cuenta. Tenga en cuenta que al borrar su
    cuenta todos los datos serán elminiados del servidor y no la podrá recuperar.
  </p>
</div>
<div class="p-register__login-container">
  <div class="p-register__login-container__button">
    <button class="p-register__login-container__button__register" [routerLink]="'/'">
      <mat-icon>keyboard_arrow_left</mat-icon>Return</button>
  </div>
</div>