<div class="p-manual">
  <h1>Objective</h1>
  <p>
    The objective of the game is to accept missions and defeat the enemies in them.
  </p>
  <h1>How to play</h1>
  <p>
    On the mission screen, choose the mission you want to accept. Once you accept a mission, you will automatically be
    directed to the battle screen where you will face the enemy for that mission.
  </p>
  <p>
    To attack, you must press the attack button and wait for the animations to finish before you can attack again.
  </p>
  <p>
    When your attack animation is over, it will be the enemy's turn to attack you.
  </p>
  <h1>Victory condition</h1>
  <p>
    If you reduce the enemy's life to 0, you win the battle.
  </p>
  <h1>Defeat condition</h1>
  <p>
    If your life is reduced to 0, you lose the battle.
  </p>
  <h1>At the end of the battle</h1>
  <p>
    After finishing the battle you will be directed to the mission screen.
  </p>
  <p>
    If you have won the fight you will get experience, you can check how much experience you have in the Profile, when
    you level up the experience counter is reset
  </p>
  <h1>Other features</h1>
  <p>
    If you close the game in the middle of a battle, when you log back in, selecting Missions will redirect you to the
    battle.
  </p>
  <p>
    When creating your account, you'll need to choose the job and the look you want for that job. Once selected, you
    can't
    change it.
  </p>
  <p>
    From the profile menu, you can log out and delete your account. Please note that deleting your account will delete
    all your data from the server, and you will not be able to recover it.
  </p>
</div>
<div class="p-register__login-container">
  <div class="p-register__login-container__button">
    <button class="p-register__login-container__button__register" (click)="goBack()">
      <mat-icon>keyboard_arrow_left</mat-icon>Return
    </button>
  </div>
</div>