<!-- src/app/battle/battle.component.html -->
<!--<div class="game-container">

    <div class="game-header">
        <span>🔌 ON</span>
        <span>TURN X</span>
        <span>👥1</span>
        <span>⏱00:00:00</span>
        <button>Request Backup</button>
    </div>

    <div class="status-bar">
        Messages from the game like x player joined or used y skill
    </div>

    <div class="battle-screen">
        <div class="enemy"></div>
        <div class="player player1">
            <video src="..\assets\animations\idle\gbfap_1747308608136.webm" autoplay muted loop width="250"
                id="player-idle-video" *ngIf="showIdle"></video>
        </div>
        <div class="player player2"></div>
        <div class="player player3"></div>
    </div>

    <div class="attack-button">ATTACK</div>

    <div class="hp-bar">HP X</div>
    <div class="ultimate-bar">DEFINITIVO 0%</div>
    <div class="ultimate-button">DEFINITIVO</div>

    <div class="skills-header">Skills</div>

    <div class="skill">
        <div><strong>Skill Name</strong></div>
        <div>Skill Description</div>
        <div>Cooldown: x turns</div>
    </div>

    <div class="player-name">Pedro</div>

</div>-->


<div class="p-battle">
    <div class="p-battle__container">
        <div class="p-battle__container__top">
            <div class="p-battle__container__top__message"></div>
            <div class="p-battle__container__top__battle-screen--enemy-hp"
                style="background: rgb(196, 0, 0); height: 10px;">
            </div>
            <div class="p-battle__container__top__battle-screen--enemy-ultimate"
                style="background: rgb(217, 233, 0); height: 10px;">
            </div>
            <div class="p-battle__container__top__battle-screen">
                <div class="p-battle__container__top__battle-screen--enemy">
                    <video *ngIf="showEnemyIdle" src="\assets\animations\enemies\idle\1.webm" type="video/webm" autoplay
                        muted loop id="player-idle-video">Your browser doesn't suport webm
                        videos</video>
                    <video *ngIf="!showIdle && !showEnemyAttack" #damagedEnemyVideo
                        src="\assets\animations\enemies\damaged\1.webm" type="video/webm" autoplay muted loop>Your
                        browser doesn't suport webm
                        videos</video>
                    <video *ngIf="showEnemyAttack" #attackEnemyVideo src="\assets\animations\enemies\attack\1.webm"
                        type="video/webm" autoplay muted (ended)="onEnemyAttackEnded(attackEnemyVideo)">Your
                        browser doesn't suport webm
                        videos</video>
                </div>
                <div class="p-battle__container__top__battle-screen--player">
                    <video *ngIf="showIdle && !showPlayerDamaged" src="\assets\animations\jobs\idle\1.webm"
                        type="video/webm" autoplay muted loop id="player-idle-video">Your browser doesn't
                        suport webm
                        videos</video>
                    <video *ngIf="!showIdle && !showPlayerDamaged" #normalAttackVideo
                        src="\assets\animations\jobs\attack\1.webm" type="video/webm" autoplay muted
                        (ended)="onAttackVideoEnded(normalAttackVideo)">Your browser
                        doesn't
                        suport webm
                        videos</video>
                    <video *ngIf="showPlayerDamaged" #damagedVideo src="\assets\animations\jobs\damaged\1.webm"
                        type="video/webm" autoplay muted>Your
                        browser
                        doesn't
                        suport webm
                        videos</video>
                </div>
            </div>
        </div>
        <div class="p-battle__container__UI">
            <div class="p-battle__container__UI__middle">
                <button class="p-battle__container__UI__middle__attack-button" (click)="attack()"
                    [disabled]="!canAttack" disabled>ATTACK</button>
                <div class="p-battle__container__UI__middle__hp">
                    <h3 class="p-battle__container__UI__middle__hp--text">HP {{Players.hp}}</h3>
                    <div class="p-battle__container__UI__middle__hp--bar" style="background: green; height: 10px;">
                    </div>
                </div>
                <div class="p-battle__container__UI__middle__ultimate">
                    <h3 class="p-battle__container__UI__middle__ultimate--text">DEFINITIVO</h3>
                    <div class="p-battle__container__UI__middle__ultimate--bar"
                        style="background: yellow; height: 10px;"></div>
                </div>
                <button class="p-battle__container__UI__middle__ultimate-button">DEFINITIVO</button>
            </div>
            <div class="p-battle__container__UI__player-abilities">
                <div class="p-battle__container__UI__player-abilities__skills">
                    <div class="p-battle__container__UI__player-abilities__skills__grid">
                        <div class="p-battle__container__UI__player-abilities__skills__grid__skill1">
                            <mat-card class="p-battle__container__UI__player-abilities__skills__grid__skill1__details"
                                tabindex="0">
                                <mat-card-header
                                    class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__header">
                                    <div mat-card-avatar
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__header__image">
                                    </div>
                                    <div
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__header__name">
                                        <h3>{{Players.skill1Name}}</h3>
                                    </div>
                                </mat-card-header>
                                <mat-card-content
                                    class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__content">
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__content--description">
                                        {{Players.skill1Description}}</p>
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__content--cooldown">
                                        Cooldown:
                                        {{Players.skill1Cooldown}} turns</p>
                                    <mat-card-actions align="end"
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__content--actions">
                                        <button
                                            class="p-battle__container__UI__player-abilities__skills__grid__skill1__details__content--actions--button">Use
                                            Skill</button>
                                    </mat-card-actions>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="p-battle__container__UI__player-abilities__skills__grid__skill2">
                            <mat-card class="p-battle__container__UI__player-abilities__skills__grid__skill2__details"
                                tabindex="0">
                                <mat-card-header
                                    class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__header">
                                    <div mat-card-avatar
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__header__image">
                                    </div>
                                    <div
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__header__name">
                                        <h3>{{Players.skill2Name}}</h3>
                                    </div>
                                </mat-card-header>
                                <mat-card-content
                                    class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__content">
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__content--description">
                                        {{Players.skill2Description}}</p>
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__content--cooldown">
                                        Cooldown:
                                        {{Players.skill2Cooldown}} turns</p>
                                    <mat-card-actions align="end"
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__content--actions">
                                        <button
                                            class="p-battle__container__UI__player-abilities__skills__grid__skill2__details__content--actions--button">Use
                                            Skill</button>
                                    </mat-card-actions>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="p-battle__container__UI__player-abilities__skills__grid__skill3">
                            <mat-card class="p-battle__container__UI__player-abilities__skills__grid__skill3__details"
                                tabindex="0">
                                <mat-card-header
                                    class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__header">
                                    <div mat-card-avatar
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__header__image">
                                    </div>
                                    <div
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__header__name">
                                        <h3>{{Players.skill3Name}}</h3>
                                    </div>
                                </mat-card-header>
                                <mat-card-content
                                    class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__content">
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__content--description">
                                        {{Players.skill3Description}}</p>
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__content--cooldown">
                                        Cooldown:
                                        {{Players.skill3Cooldown}} turns</p>
                                    <mat-card-actions align="end"
                                        class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__content--actions">
                                        <button
                                            class="p-battle__container__UI__player-abilities__skills__grid__skill3__details__content--actions--button">Use
                                            Skill</button>
                                    </mat-card-actions>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="p-battle__container__UI__player-abilities__skills__grid__unique-ability">
                            <mat-card
                                class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details"
                                tabindex="0">
                                <mat-card-header
                                    class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details__header">
                                    <div mat-card-avatar
                                        class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details__header__image">
                                    </div>
                                    <div
                                        class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details__header__name">
                                        <h3>{{Players.uniqueAbilityName}}</h3>
                                    </div>
                                </mat-card-header>
                                <mat-card-content
                                    class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details__content">
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details--description">
                                        {{Players.uniqueAbilityDescription}}</p>
                                    <p
                                        class="p-battle__container__UI__player-abilities__skills__grid__unique-ability--cooldown">
                                        Cooldown:
                                        {{Players.uniqueAbilityCooldown}} turns</p>
                                    <mat-card-actions align="end"
                                        class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details__content--actions">
                                        <button
                                            class="p-battle__container__UI__player-abilities__skills__grid__unique-ability__details__content--button">Use
                                            Skill</button>
                                    </mat-card-actions>
                                </mat-card-content>
                            </mat-card>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>